<br>
<h3>DBI // ADMIN PROVIDERS</h3>
<br>

<h2>Administrator Provider Selection</h2>
<br>

<div class="row justify-content-center">
  
  <div class="col-9">
    
      <br>
      <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">UNITEDHEALTH Direct Silver 2500 with Coinsurance</label>
      </div>
      <br>
      <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck2">
          <label class="form-check-label" for="exampleCheck2">HUMANA Health Direct Silver 2500 with Coinsurance</label>
      </div>
      <br>
      <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck3">
          <label class="form-check-label" for="exampleCheck3">CIGNA Health Direct Silver 2500 with Coinsurance</label>
      </div>
      <br>
      <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck4">
          <label class="form-check-label" for="exampleCheck4">BLUE CROSS BLUE SHIELD Health Direct Silver 2500 with Coinsurance</label>
      </div>
      <br>
      <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck5">
          <label class="form-check-label" for="exampleCheck5">TUFTS Health Direct Silver 2500 with Coinsurance</label>
      </div>
      <br>
    <button type="submit" class="btn btn-primary">Submit</button>

  </div>
</div>