<div class="row justify-content-center">

    <div class="col-9">

        <h4>Petes Total Care</h4>
        <button (click)="toggle()" id="btToggle" class="btn btn-info btn-lg">{{buttonName}}</button>
        <br>

        <div *ngIf="show">
            <h5>Medical</h5>
            <button type="button" (click)="aProviderSelection(1, PeteMedical())" class="btn btn-success">Accept</button>
            <button type="button" class="btn btn-danger">Deny</button>
            <object [attr.data]="PeteMedical()" type="application/pdf" width="100%" height="800">
                <p>Your browser does not support PDFs.</p>
            </object>

            <br>
            <h5>Vision</h5>
            <button type="button" (click)="aProviderSelection(2,PeteVision())" class="btn btn-success">Accept</button>
            <button type="button" class="btn btn-danger">Deny</button>
            <object [attr.data]="PeteVision()" type="application/pdf" width="100%" height="800">
                <p>Your browser does not support PDFs.</p>
            </object>
            <br>
            <h5>Dental</h5>
            <button type="button" (click)="aProviderSelection(3,PeteDental())" class="btn btn-success">Accept</button>
            <button type="button" class="btn btn-danger">Deny</button>
            <object [attr.data]="PeteDental()" type="application/pdf" width="100%" height="800">
                <p>Your browser does not support PDFs.</p>
            </object>
        </div>

        <h4>Armand Group</h4>
        <button (click)="toggle1()" id="btToggle" class="btn btn-info btn-lg">{{buttonName1}}</button>
        <br>

        <div *ngIf="show1">
            <h5>Medical</h5>
            <button type="button" (click)="aProviderSelection(1, ArmandMedical())" class="btn btn-success">Accept</button>
            <button type="button" class="btn btn-danger">Deny</button>
            <object [attr.data]="ArmandMedical()" type="application/pdf" width="100%" height="800">
                <p>Your browser does not support PDFs.</p>
            </object>

            <br>
            <h5>Vision</h5>
            <button type="button" (click)="aProviderSelection(2,ArmandVision())" class="btn btn-success">Accept</button>
            <button type="button" class="btn btn-danger">Deny</button>
            <object [attr.data]="ArmandVision()" type="application/pdf" width="100%" height="800">
                <p>Your browser does not support PDFs.</p>
            </object>
            <br>
            <h5>Dental</h5>
            <button type="button" (click)="aProviderSelection(3,ArmandDental())" class="btn btn-success">Accept</button>
            <button type="button" class="btn btn-danger">Deny</button>
            <object [attr.data]="ArmandDental()" type="application/pdf" width="100%" height="800">
                <p>Your browser does not support PDFs.</p>
            </object>
        </div>
        <h4>Will Cross</h4>
        <button (click)="toggle2()" id="btToggle" class="btn btn-info btn-lg">{{buttonName2}}</button>
        <br>

        <div *ngIf="show2">
            <h5>Medical</h5>
            <button type="button" (click)="aProviderSelection(1, WillMedical())" class="btn btn-success">Accept</button>
            <button type="button" class="btn btn-danger">Deny</button>
            <object [attr.data]="WillMedical()" type="application/pdf" width="100%" height="800">
                <p>Your browser does not support PDFs.</p>
            </object>

            <br>
            <h5>Vision</h5>
            <button type="button" (click)="aProviderSelection(2,WillVision())" class="btn btn-success">Accept</button>
            <button type="button" class="btn btn-danger">Deny</button>
            <object [attr.data]="WillVision()" type="application/pdf" width="100%" height="800">
                <p>Your browser does not support PDFs.</p>
            </object>
            <br>
            <h5>Dental</h5>
            <button type="button" (click)="aProviderSelection(3,WillDental())" class="btn btn-success">Accept</button>
            <button type="button" class="btn btn-danger">Deny</button>
            <object [attr.data]="WillDental()" type="application/pdf" width="100%" height="800">
                <p>Your browser does not support PDFs.</p>
            </object>
        </div>

        <button type="submit"(click)="Submit()" class="btn btn-primary">SUBMIT</button>
        <br><a [routerLink]="['']">Home</a>
    </div>
</div>