#container {
    padding-right: 30px;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    border-radius: 23px;
    background-color: #018dc4;
    box-shadow: 2px 2px 3px 3px #018dc4;
    }

h1 {
    color: #06ffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    text-align: left;
    padding-left: 35px;
    padding-top: 25px;
}

h2 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: left;
    padding-left: 35px;
}

p {
color: white;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 20px;
text-align: left;
padding-left: 35px;
padding-top: 25px;
padding-bottom: 25px;
}

a {
    color: #06ffff;   
}

a:hover {
    color: #00ccff;
}

small {
    font-size: xx-small;
}