#container {
    padding-right: 30px;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    border-radius: 23px;
    background-color: #018dc4;
    box-shadow: 2px 2px 3px 3px #018dc4;
    }

h1 {
    color: #06ffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    text-align: left;
    padding-left: 35px;
    padding-top: 25px;
}

h2 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: left;
    padding-left: 35px;
}

p {
color: white;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 20px;
text-align: left;
padding-left: 35px;
padding-top: 25px;
padding-bottom: 25px;
}

a {
    color: #06ffff;   
}

a:hover {
    color: #00ccff;
}

small {
    font-size: xx-small;
}

#providers {
    padding-left: 60px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

button {
display: inline-block;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
cursor: pointer;
margin: 23px;
padding: 10px 40px 10px 40px;
border: 1.5px solid #018dc4;
-webkit-border-radius: 3px;
border-radius: 75px;
font-size: 13px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: black;
-o-text-overflow: clip;
text-overflow: clip;
background: white;
-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
-webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
-moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
-o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
letter-spacing: .7px;
}