<div id="container">

  <h1>Select your benefits</h1>
  <h2>Choose the benefits that work for you.</h2>
  <br>
  
  <div id="providers" class="row justify-content-left">

  <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">UNITEDHEALTH Direct Silver 2500 with Coinsurance</label>
  </div>
  <br>

  <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck2">
      <label class="form-check-label" for="exampleCheck2">HUMANA Health Direct Silver 2500 with Coinsurance</label>
  </div>
  <br>

  <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck3">
      <label class="form-check-label" for="exampleCheck3">CIGNA Health Direct Silver 2500 with Coinsurance</label>
  </div>
  <br>

  <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck4">
      <label class="form-check-label" for="exampleCheck4">BLUE CROSS BLUE SHIELD Health Direct Silver 2500</label>
  </div>
  <br>

  <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck5">
      <label class="form-check-label" for="exampleCheck5">TUFTS Health Direct Silver 2500 with Coinsurance</label>
  </div>
  <br>

</div>

  <br><button type="submit" class="btn btn-primary">SUBMIT</button>
  <br><a [routerLink]="['']">Home</a>
  </div>